.robot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.head {
    height: 200px;
    width: 200px;
}
section.upper-body {
    display: flex;
}
div.torso {
    height: 300px;
    width: 200px;
    margin: 0 5px;
}
div.left-arm, div.right-arm {
    height: 300px;
    width: 100px;
}
section.lower-body {
    display: flex;
}
div.left-leg, div.right-leg {
    height: 200px;
    width: 100px;
}
div.left-leg {
    margin-right: 5px;
}
.bg {
    background-color: rgb(76, 45, 115);
}
.margin {
    margin: 5px;
}